.nav {
  max-width: 320px;
}

.nav__list {
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.link_active {
  color: #F2F2F3;
}

