.ingredientsList__container {
  position: relative;
}

.price {
  display: flex;
  justify-content: center;
  grid-column-gap: 9px;
  margin: 0;
}

.name {
  text-align: center;
  margin: 0;
  max-width: 272px;
}
