.container {
  width: 100%;
  max-width: 1320px;
  box-sizing: border-box;
  height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.orders {
  list-style-type: none;
  padding-left: 0;
  max-height: 663px;
  flex: 1;
  overflow-y: scroll;
}

.order {
  max-width: 520px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 300px;

}
::-webkit-scrollbar-track {
  background: #2F2F37;
  height: 300px;
}
::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 2px solid #2F2F37;
  border-radius: 6px;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}

.queue {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 60px;
}

.queue__list {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 36px;
}

.list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
}

.list_blue {
  color: #00CCCC;
}

.total {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  color: #F2F2F3;
}
