.ingredientsList__section {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}

.ingredientsList__item {
  list-style-type: none;
}

